@import './colors.scss';
@import './fonts.scss';

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $dark-blue;
  font-family: 'Roboto', sans-serif;
  color: $light-blue;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    font-size: 1rem;
    margin: 1rem 0.5rem;
  }

  input {
    background-color: surface('1');
    border: 0;
    outline: 0;
    height: 2rem;
    border-radius: 1rem;
    color: white;
    padding-left: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input::placeholder {
    color: transparentize(white, 0.5);
  }
}

.form-fluid {
  width: 100%;

  .form-group {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.form-title {
  text-align: center;
}

// button,
// a.btn,
// a.btn-outline {
//   padding: 0.5rem;
//   font-size: 1rem;
//   margin: 0.5rem;
//   background-color: $light-blue;
//   outline: none;
//   border: 0;
//   border-radius: 0.25rem;
//   height: 2.5rem;
//   color: $dark-blue;
//   transition: all 0.25s ease-in-out;
//   display: inline-block;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   text-align: center;
// }

// button:disabled {
//   background-color: transparentize($light-blue, 0.5);
//   color: transparentize($dark-blue, 0.5);
//   cursor: not-allowed;
// }

// button.btn-outline,
// a.btn-outline {
//   border: $light-blue 2px solid;
//   background-color: transparent;
//   color: $light-blue;
//   text-decoration: none;
// }

// button:hover:not(:disabled),
// button:focus:not(:disabled),
// .btn-outline:hover:not(:disabled),
// .btn-outline:focus:not(:disabled) {
//   background-color: darken($light-blue, 10);
//   color: $dark-blue;
//   border-color: darken($light-blue, 10);
// }

.container {
  padding: 1rem 10%;
}
