@import '../colors.scss';

.fight-container {
  position: relative;
  height: 100%;
  overflow: hidden;

  .new-modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparentize(#000000, 0.5);
    animation: fadein 0.5s;
    animation-fill-mode: forwards;

    .new-modal {
      width: 50%;
      position: relative;

      .headline5,
      .error {
        margin: 1rem 0.5rem;
      }

      .error {
        color: $error;
        font-size: 0.8rem;
        margin-bottom: 0;
      }

      .fa-times {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
      }

      .buttons {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .fight-title {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px transparentize($primary, 0.5) solid;
    border-top: 1px transparentize($primary, 0.5) solid;
    box-sizing: border-box;

    .headline6 {
      margin-right: 0.5rem;
    }

    .fight-details {
      display: flex;
      align-items: center;
    }

    .copy-btn {
      transition: all 0.35s ease-in-out;
      width: 6rem;
      margin: 0;
    }

    .copy-icon-btn {
      margin: 0;
    }

    .copy-success {
      color: black;
      background-color: $primary-light;
      width: 7rem;
    }

    .view-fight:hover,
    .view-fight:focus {
      color: white;
    }

    .connection-container {
      font-size: 0.5rem;

      text-transform: capitalize;

      i {
        margin-right: 0.25rem;
      }
    }

    .connected {
      color: $success;
    }

    .failed {
      color: $error;
    }

    .competitors-container {
      height: 100%;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .competitor {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        .competitor-pfp {
          height: 2rem;
          margin-right: 0.5rem;
        }

        .competitor-name-container {
          // color: surface(24);
          color: white;

          p {
            margin: 0;
            transition: color 0.2s ease-in-out;
          }

          // .competitor-name {
          //   margin-bottom: 0.1rem;
          // }

          .competitor-ready {
            font-size: 0.5rem;
            color: $error;
          }

          .competitor-ready.ready {
            color: $success;
          }
        }
      }
    }
  }

  .compete-container,
  .view-container {
    width: 100%;
    height: calc(100% - 3rem);
  }

  .main {
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .viewers-container {
      height: 100%;
      width: 20%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .viewers-title {
        width: 100%;
        height: 2rem;
        padding: 0.5rem 0.75rem;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        box-sizing: border-box;
        display: flex;
        border-bottom: 1px transparentize(white, 0.8) solid;

        .caps {
          display: inline-block;
          letter-spacing: 0.1rem;
          margin-right: auto;
        }

        .viewer-count {
          display: inline-block;
          flex-grow: 1;
          text-align: right;
        }
      }

      .viewer-list {
        overflow-y: overlay;
        width: 100%;
        flex-grow: 1;

        .viewer {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem;
          box-sizing: border-box;

          .viewer-pfp {
            width: 2rem;
            height: 2rem;
          }
        }

        .no-viewers {
          color: transparentize(white, 0.7);
          justify-content: center;
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.redirecting {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .dot1,
  .dot2,
  .dot3 {
    animation: jump 0.8s;
    animation-iteration-count: infinite;
    display: inline-block;
  }

  .dot1 {
    animation-delay: 0s;
  }

  .dot2 {
    animation-delay: 0.2s;
  }

  .dot3 {
    animation-delay: 0.3s;
  }

  @keyframes jump {
    0%,
    40%,
    60%,
    100% {
      transform: initial;
    }
    50% {
      transform: translateY(0.25rem);
    }
  }
}
